#include "Resource.h"

ACCELERATOR_TABLE_ID ACCELERATORS
{
  "N",  FILE_ACTION_NEW,	VIRTKEY,	CONTROL
  "O",  FILE_ACTION_OPEN,	VIRTKEY,	CONTROL
  "S",  FILE_ACTION_SAVE,	VIRTKEY,	CONTROL
  "S",  FILE_ACTION_SAVEAS,	VIRTKEY,	CONTROL,	SHIFT
  "Y",  EDIT_ACTION_REDO,	VIRTKEY,	CONTROL
  "Z",  EDIT_ACTION_UNDO,	VIRTKEY,	CONTROL
  "E",	EDIT_ACTION_APPLY,	VIRTKEY,	CONTROL
}

PROGRAM_ICON_ID ICON "icon.ico"
