#include "Resource.h"

ACCELERATOR_TABLE_ID ACCELERATORS
{
  "N",  FILE_NEW,		VIRTKEY,	CONTROL
  "O",  FILE_OPEN,		VIRTKEY,	CONTROL
  "S",  FILE_SAVE,		VIRTKEY,	CONTROL
  "S",  FILE_SAVEAS,	VIRTKEY,	CONTROL,	SHIFT
  "Y",  EDIT_REDO,		VIRTKEY,	CONTROL
  "Z",  EDIT_UNDO,		VIRTKEY,	CONTROL
  "E",	EDIT_APPLY,		VIRTKEY,	CONTROL
}
